@import url('theme.css');

#banner {
    background: #fff;
    text-align: center;
    padding: 3em 3em 3em 3em;
    margin-bottom: 0;
}

    #banner header > p {
        margin-bottom: 0;
    }

    #banner #number-banner {
        background-color: var(--lighter-bg);
    }

.banner-button {
    background-color: var(--light-bg);
    color: var(--body-text);
    border: none;
    font-size: 15px;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand';
}

.banner-button:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: #fff;
    transition-duration: .5s;
}

.h2-banner {
    font-size: 2em;
}

@media screen and (max-width: 1280px) {
    #banner {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        padding: 3em 2em 3em 2em;
    }
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
    /* box-sizing: border-box; */
}
    .row.aln-center {
        justify-content: center;
    }

.numbers {
    margin: 0em 4em 0em 4em;
}