#banner {
    background: #fff;
    text-align: center;
    padding: 3em 3em 3em 3em;
    margin-bottom: 0;
}

    #banner header > p {
        margin-bottom: 0;
    }

    #banner h2 {
        font-size: 1.75em;
    }

.learnMore {
    background-color: #FEE1D4;
    color: #242F6B;
    font-size: 15px;
    border-radius: 20px;
    width: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1280px) {
    #banner {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        padding: 3em 2em 3em 2em;
    }
}